<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"> Katie Kowalsky </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-6">
         <p>Let's chat about maps, coding, or my knowledge of 90's hip hop:</p>
          <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
