/**
 * Site header
 */
.site-header {
    background: #29abe2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #c1cd23 , #29abe2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #c1cd23 , #29abe2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #c1cd23 , #29abe2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c1cd23 , #29abe2); /* Standard syntax (must be last) */
    min-height: 50px !important;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.brand {
    height: 50%;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.navbar-default .navbar-nav > li > a {
    color: $white !important;   
}

.navbar-default .navbar-nav > li > a:hover, a:focus {
    color: $text-color !important;
    text-decoration: none !important;
    background-color: $green-color !important;
}

.navbar-brand a:focus, a:hover {
    background-color: rgba(192,205,25,0) !important;
}

.current-page {
    color: $text-color;
    text-decoration: none;
    background-color: $green-color;
}

.site-nav {
    float: right;
    line-height: 50px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.resume-title {
    color: $brand-color;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: ($spacing-unit/5);
    background-color: #fcfcfc;
    width: 100% !important;
    position: relative;
    bottom: 0;
    
    a {
        color: $green-color;
        text-decoration: none;
    }
    
    a:link {
        color: $green-color;
    }

    a:visited {
        color: $green-color;
    }

    a:hover {
        color: $brand-color !important;
        text-decoration: underline;
    }

    a:active {
        color: $green-color;
    }
}

.footer-heading {
    font-size: 18px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(95% - (#{$spacing-unit} / 2));
    width:         calc(95% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(90% - (#{$spacing-unit} / 2));
    width:         calc(90% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(95% - (#{$spacing-unit} / 2));
    width:         calc(95% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
*/
.page-content {
    padding: ($spacing-unit*2) 0 ($spacing-unit/4);
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.portfolio-link {
  margin-top: 0;
  text-align: center;
}

.portfolio-thumbnail {
  margin-top: 10px;
}

.thumbnail {
  margin-bottom: 0;
}

.portfolio-asset {
  text-align: center;
  margin-bottom: 0;
}

.portfolio-caption {
  text-align: center;
}

figure {
    background: #29abe2; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #c1cd23 , #29abe2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #c1cd23 , #29abe2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #c1cd23 , #29abe2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #c1cd23 , #29abe2); /* Standard syntax (must be last) */ 
    
    width: 250px;
    height: auto;
}

.img-hover img {
    opacity: 1;
    width: 250px;
    height: auto;
}

.img-hover img:hover {
    opacity: .35;
}

.date {
    float: right;
    color: $text-color;
}

.post-break{
    border-bottom: 1px solid #ddd;
}

.post {
    padding: 7px 0px 7px 0px;
}