---
layout: default
---
<div class="container" style="width:auto;">
  <div class="home">

    <center><h1>Katie Makes Maps!</h1></center>

    <div class="row">
      {% for work in site.works %}
        {% if work.type == 'portfolio' %}
        <div class="col-md-4 col-md-4">
            <div class="portfolio-thumbnail">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <figure class="img-hover"><img class="img-hover" src="{{ post.thumbnail }}" alt="{{ alt }}" class="img-responsive-portfolio-thumbnail-img" /></figure>
                </a>
                <h5 class="portfolio-caption">{{ work.title }}</h5>
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
