body {
    background-image: url("concrete_seamless.png");
}

h1,h2,h3,h4,h5,h6,p,a,li {
    font-family: 'Raleway', sans-serif;
}

p,a,li {
    color: #222;
    font-size: 21px;
    line-height: 150%;
}

h1,h2 {
    color: #F6872A;
}

h1 {
    font-size: 48px;
    align-content: center;
    letter-spacing: 5px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -1.5%;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    color: #f7994b;
}

h5 {
    font-size: 30px;
    color: #C94B22;
    font-weight: 400;
}

.branch {
    float: left;
    width: 25%;
    display: inline-block;
}

#branchImage {
    width: 80%;
}

.main {
    display: inline-block;
    width: 60%;
}