---
layout: default
---
<h1>Hello! I'm Katie. </h1>
<img src= "/assets/img/me.jpg" style="width: 50%;">
<p><br>
<b>Cartographer</b>, glasses-wearer, and amateur cheese enthusiast.
<br><br>
I love <b>making</b>, <b>talking</b>, and <b>thinking</b> about maps. I love being able to do front-end web development, graphic design, and traditional cartography all in a typical day. As of late, I've been working & hanging out in the <a href="http://geography.wisc.edu/cartography">UW-Madison Cartography Lab</a> dreaming up ways to <b>teach people</b> about maps, building things, and experimenting some.
<br><br>
I spread my passion for maps with the crowds at <a href="http://maptime.io">Maptime!</a>, <a href="http://twitter.com/NACIS">NACIS</a>, and <a href="http://girlswhocode.com">Girls Who Code</a>. I love living at the intersection of design, programming, and science and couldn't imagine it any other way. 
</p>
<br>
<ul class="contact-list">
    <li>Let's chat about maps, coding, or my encyclopedic knowledge of cheeses: </li>
    <li><a href="mailto:{{ site.email }}"><span class="icon icon--twitter">{% include icon-mail.svg %}</span><span class="email">{{ site.email }}</span></a>
</li>
    <li>
      <span class="icon icon--github">{% include icon-github.svg %}</span><a href="https://github.com/{{ site.github_username }}"><span class="username">{{ site.github_username }}</span></a>
    </li>
    <li>
      <span class="icon icon--twitter">{% include icon-twitter.svg %}</span><a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">{{ site.twitter_username }}</span></a>
    </li>
</ul>